<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="myGreeter" class="com.why.spring.EnglishGreeter"/>

    <bean id="greetMeBean" class="com.why.spring.GreetMeBean">
        <property name="greeter" ref="myGreeter"/>
    </bean>

    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="vm://localhost"/>
            </bean>
        </property>
    </bean>

    <bean id="ftpToJMS" class="com.why.camel.spring.FtpToJMS"/>

    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="ftpToJMS"/>
    </camelContext>

</beans>